@model ContactFormViewModel


<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>

        <form method="post" novalidate>

            <div class="name form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" onkeyup="validateText(event)" />
                <small><span asp-validation-for="Name" class="error"></span></small>
            </div>

            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" onkeyup="validateEmail(event)" />
                <small><span asp-validation-for="Email" class="error"></span></small>
            </div>

            <div class="phoneNumber form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" onkeyup="validateText(event)" />
                <small><span asp-validation-for="Phone" class="error"></span></small>
            </div>

            <div class="companyName form-group">
                <label asp-for="Company"></label>
                <input asp-for="Company" onkeyup="validateText(event)" />
                <small><span asp-validation-for="Company" class="error"></span></small>
            </div>

            <div class="message form-group">
                <label asp-for="Message"></label>
                <textarea asp-for="Message"  onkeyup="validateText(event)"></textarea>
                <small><span asp-validation-for="Message" class="error"></span></small>
            </div>

            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe">
                    <span class="checkmark"></span>
                </label>
            </div>

            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>