@{
    ViewData["Title"] = "Backoffice";
}

<div>
    <div>
        Backoffice
        <a asp-controller="admin" asp-action="allusers">User handler</a>
        <a asp-controller="admin" asp-action="registerproduct">Register Product</a>
    </div>
</div>
